.Optn_tab {
  height: fit-content;
  width: 200px;
  position: absolute;
  padding: 0px 2px;
  top: 51px;
  right: 14px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  overflow: hidden;
}
.Optn_dt {
  padding: 5px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3px;
  border-radius: 4px;
  color: rgb(36, 36, 36);
}
.arr_opt {
  height: 50px;
  width: 32px;
  background-color: white;
  position: absolute;
  top: 46px;
  right: 55px;
  transform: rotate(45deg);
  border: solid 1px grey;
}
.Optn_txt{
  color: rgb(36, 36, 36);
  font-size: 12px;
  margin-left: 8px;
  font-weight: 600;
}
.Optn_dt:hover{
  background-color: rgb(237, 237, 237);
}
